    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <div>
                <span style="float: left" ng-controller="LoginCtrl"><a href="" ng-click="logout()">Logga ut</a></span>
                <span style="float: right"><a ng-href="#/stats">Statistik</a></span>
            </div>
            <!-- Previous button -->
            <button type="button" class="btn btn-default btn-sm" ng-click="calculateDate(-1)">
                <span class="glyphicon glyphicon-step-backward"></span>
            </button>
            <!-- Title -->
            &nbsp;&nbsp;&nbsp;&nbsp;<strong>{{day}}dag {{currentDate | date:'dd/MM'}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
            <!-- Next button -->
            <button type="button" class="btn btn-default btn-sm" ng-click="calculateDate(1)">
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>
        </div>
        <!-- Date buttons -->
        <div class="panel-body" style="text-align: center">
            <div class="btn-group  btn-group-sm">
                <button type="button" class="btn btn-default" ng-click="setDate(nextDate.date)"
                        ng-disabled="currentDate==nextDate.date" ng-repeat="nextDate in nextDates">{{nextDate.day}}
                    {{nextDate.date | date:'dd/MM'}}</button>
            </div>
        </div>
        <!-- Booking rows -->
        <div class="row" ng-repeat="bookingTime in bookingTimes">
            <div class="col-sm-12">
                <div class="input-group input-sm" style="text-align: center ">
                          <span class="input-group-addon">
                          {{bookingTime.time}}
                          </span>
                    <input type="text" value="{{bookingTime.description}}" class="form-control booked_{{bookingTime.booked}}" ng-model="bookingTime.description"
                           ng-change="editBooking(bookingTime)" >
                         <span class="input-group-addon">
                              <input type="checkbox" ng-model="bookingTime.booked" ng-change="bookingChanged(bookingTime)">
                          </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-# -->
        </div><!-- /.row -->
    </div><!-- panel -->
